<%- include('./partials/head.ejs') %>


<main class="main-chatroom">
    <section class="section-chatroom">
      <h1>Vinimini <span>Chatroom</span></h1>
      <ul>
        <hr>
      </ul>
      <form>
        <input type="text" autocomplete="off" />
        <button><span>Send</span></button>
      </form>
    </section>
</main>

<%- include('./partials/foot.ejs') %>