<%- include('./partials/head.ejs') %>

<body>
    <main>
            <section>
              <h1>Chatroom <span>Vini Mini</span></h1>
              <ul></ul>
              <form>
                <input type="text" autocomplete="off" />
                <button>Send</button>
              </form>
            </section>
    </main>
</body>
</html>

<%- include('./partials/foot') %>