<%- include('./partials/head.ejs') %>

<div class="box1">
  <div class="accountOverzicht">
    <h1>Account Overzicht</h1>
    <ul class="gegevens">
      <li><span>Naam:</span> Pieter</li>
      <li><span>Achternaam:</span> Parker</li>
      <li><span>Email:</span> pietparker@gmail.com</li>
      <li><span>Telefoon-n:</span> 07 90 03 30 20</li>
      <li><span>Mini-naam:</span> Pepijn</li>
    </ul>
  </div>
  </div>
</div>

<div class="box2">
  <div class="miniProfiel">
    <h1>Mini | Profiel</h1>
    <a href="/proces?id=" class="btn"> Proces </a>
    <a href="/agenda" class="btn"> Agenda </a>
  </div>
</div>

<div class="chat-button">
    <a href="/chatroom" class="svg-button">
        <svg
          width="75px"
          height="75px"
          viewBox="-6.4 -6.4 76.80 76.80"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          stroke="#72a7a5"
          transform="matrix(-1, 0, 0, 1, 0, 0)"
          stroke-width="2.6239999999999997"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke="#CCCCCC"
            stroke-width="5.247999999999999"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M8 52V18.58A6.59 6.59 0 0 1 14.58 12h34.84A6.59 6.59 0 0 1 56 18.58v22.84A6.59 6.59 0 0 1 49.42 48H16z"
            ></path>
            <line x1="16" y1="24" x2="48" y2="24"></line>
            <line x1="16" y1="36" x2="48" y2="36"></line>
          </g>
        </svg>
    </a>
  </div>

</div>

<%- include('./partials/foot.ejs') %>
